<!DOCTYPE html>
<!--타임리프 및 스프링 시큐리티 확장 네임스페이스 사용-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>글 목록</title>
  <style>

      #container {
          padding-top: 10px;
      }

      #headerText {
          text-indent: 1em;
          font-size: 1.7em;
      }

      #noneContent {
          margin: 0 auto;
          text-align: center;
          font-size: 20px;
      }

      #noneContent p {
          padding: 30px;
      }

      #boardTable {
          table-layout: fixed;
          width: 100%;
          text-align: center;
      }

      .board-title {
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
      }

      .board-presentation-row .board-writer {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }

      #write::after {
          display: block;
          content: none;
          clear: both
      }

      #write > button {
          float: right;
      }

      #content .sourceType-label {
          color: grey;
      }

      #content .comment-count {
          color: grey;
      }

      #content table a {
          text-decoration: none;
          color: black;
      }

      #content a:hover {
          color: #0d6efd;
          text-decoration: underline;
      }

      #content .active a:hover {
          color: white;
      }

      #searchForm {
          max-width: 540px;
      }

      #searchForm #searchKeyword, #searchForm #searchOption, #searchForm button {
          display: inline-block;
      }

      #searchForm #searchKeyword {
          width: 55%;
      }

      #searchForm #searchOption {
          width: 25%;
      }

      #searchForm button {
          width: 15%;
          height: 100%;
          vertical-align: inherit;
      }

  </style>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/nav-css.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="/css/global.css">
  <script>
      $(function () {

// alert (+ 홈화면 추가동작) 최우선동작.
          let alertMessage = $("#globalAlertMessage").data("alertmessage");
          let isLogout = $("#globalAlertMessage > #isLogout").data("islogout");
          // console.log("alertMessage = " + alertMessage + " isLogout = " + isLogout);
          if (alertMessage) {
              if (alertMessage == "oauth2_add") {
                  if (confirm("해당 소셜 계정으로 가입된 회원이 없습니다. 가입 하시겠습니까?")) {
                      location.replace("/member/add-oauth");
                  } else {
                      location.replace("/logout");
                  }
                  return false;
              }
              alert(alertMessage);
              if (isLogout) {
                  location.replace("/logout");
              }
          }

// 검색 클릭 (submit)
          let searchForm = $("#searchForm");
          $("#searchForm>button").on("click", function (event) {
              event.preventDefault();

              // option 확인 .find("selector")
              if (!searchForm.find("option:selected").val()) {
                  alert("검색종류를 선택하세요");
                  return false;
              }

              // keyword 확인
              if (!searchForm.find("input[name='keyword']").val()) {
                  alert("키워드를 입력하세요");
                  return false;
              }

              searchForm.submit();
          })

// 페이지네이션 액티브
          let currentPage = $("#pageInfo>input:first-child").attr("value");
          let startNum = $(".page-link-number:first-child").attr("data-pagenum");
          // console.log("curentPage = " + currentPage + " startNum = " + startNum)

          if (currentPage != null) {
              $(".page-item-number").each(function () {
                  if (startNum == currentPage) {
                      $(this).attr("class", "page-item page-item-number active");
                  }
                  startNum++;
              })
          }

// 페이지네이션 링크 클릭
          $(".page-link").on("click", function (event) {
              event.preventDefault();

              // 요청할 page 설정
              $("#pageInfo #currentPageInfo").attr("value", $(this).attr("data-pagenum"));

              // option 값 확인
              let option = $("#pageInfo>input[name = 'option']").val();

              // option 없음 = 검색 안함 -> url 빈 파라미터 안남게 지우기
              if (!option) {
                  $("#pageInfo>input.searching").remove();
              }

              $("#pageInfo").submit();
          })

// 읽기 링크 클릭
          $(".readLink").on("click", function (event) {
              event.preventDefault();
              $("#dcRedirectForm #dcNum").val($(this).data("dcnum"));
              $("#dcRedirectForm").submit();


              // let params = location.search;
              // if (params) {
              //     location.href = $(this).attr("href") + params;
              // } else {
              //     location.href = $(this).attr("href");
              // }
          })
      })
  </script>
</head>

<body id="body">
<div id="container" class="container">

  <nav th:replace="admin/fragment/fragment.html::nav-fragment">
  </nav>

  <div id="globalAlertMessage" th:data-alertmessage="${alertMessage}">
    <div id="isLogout" th:data-islogout="${isLogout}"></div>
  </div>

  <div id="header">
    <h2 id="headerText" th:text="${innerSearchCondition.sourceType.getSourceTypeName() + ' 글 목록'}">글 목록</h2>
  </div>

  <hr>

  <div id="noneContent" th:if="${boardList.isEmpty()}">
    <p>
    <h3> 조회 결과가 없습니다. </h3>
    </p>
  </div>

  <div id="content" th:if="${!boardList.isEmpty()}">
    <table id="boardTable" class="table">
      <colgroup>
        <col style="width: 6%;">
        <col style="width: 54%;">
        <col style="width: 14%;">
        <col style="width: 6%;">
        <col style="width: 6%;">
        <col style="width: 14%;">
      </colgroup>

      <thead>
      <tr id="boardTableHeader">
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회</th>
        <th>추천</th>
        <th>작성시각</th>
      </tr>
      </thead>
      <tbody class="board-presentation-row">
      <tr th:each="item : ${boardList}"
          th:with="currentPage=${param.currentPage == null} ? 1 : ${param.currentPage}">

        <td id="boardNum"
            th:text="${pageMaker.totalCount - pageMaker.contentPerPage * (pageMaker.currentPage - 1) - itemStat.index}">
          id
        </td>

        <td class="board-title">
          <div>
            <span class="sourceType-label" th:if="${innerSearchCondition.sourceType == 'ALL'}"
                  th:text="${'[' + item.sourceType.getSourceTypeName() + ']'}"></span>
            <a class="readLink" href="read.html" th:data-dcnum="${item.getDcNum()}"
               th:text="${item.title}">title</a>
            <span class="comment-count" th:if="${item.commentCnt > 0}" th:text="${' (' + item.commentCnt + ')'}"> </span>
          </div>
          <div th:if="${item.content != null}">
            <span>&nbsp;⤷&nbsp; </span>
            <a class="readLink" href="list.html" th:data-dcnum="${item.getDcNum()}"
               th:text="${#strings.abbreviate(item.getCleanedContent(), 30)}"

            >글 내용</a>
          </div>
        </td>

        <td th:text="${item.writer}" class="board-writer">writer</td>

        <td id="boardviewCnt" th:text="${item.viewCnt}"> 조회수</td>

        <td id="recommendCnt" th:text="${item.recommendCnt}"> 추천수</td>

<!--        TODO 소스타입 DC 로 -->
        <td th:if="${item.isToday(item.regDate)}"
            th:text="${#temporals.format(item.regDate, 'HH:mm')}">작성시각
        </td>
        <td th:if="${!item.isToday(item.regDate)}"
            th:text="${#temporals.format(item.regDate, 'yy-MM-dd')}">
          작성시각
        </td>
      </tr>
      </tbody>
    </table>


    <!-- pagination:  onclick 시 자바스크립트 실행을 통해 pageInfo 를 submit 하게됨 -->
    <div class="container">
      <ul class="pagination col justify-content-center" id="paginationContainer"
          th:data-pagesize="${pageMaker.contentPerPage}">
        <li class="page-item" th:if="${pageMaker.isPrevBt}">
          <a href="list.html"
             th:data-pageNum="${(pageMaker.startPageNum)-1}" class="page-link">&laquo;</a>
        </li>
        <!-- ${#numbers.sequence(from,to,[step])} 단순반복 numbers 유틸리티 클래스 배열 생성후 사용 -->
        <li class="page-item page-item-number"
            th:each="num : ${#numbers.sequence(pageMaker.startPageNum, pageMaker.endPageNum)}">
          <a href="list.html" th:text="${num}" th:data-pagenum="${num}"
             class="page-link page-link-number"> 페이지번호 </a>
        </li>
        <li class="page-item" th:if="${pageMaker.isNextBt()}">
          <a href="list.html"
             th:data-pageNum="${pageMaker.endPageNum+1}" class="page-link">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- 글쓰기 버튼 -->
  <div class="float-right" id="write">
    <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/admin/board/write}'|">글쓰기
    </button>
  </div>

  <!-- 검색창 -->
  <div class="row justify-content-center input-group" style="clear:right;width:500px;margin:auto">
    <form id="searchForm" action="/boards" method="get"
          th:action="@{/admin/boards}" th:object="${innerSearchCondition}">
      <input type="hidden" name="page" value="1">
      <select th:field="*{option}" name="option" class="form-select" id="searchOption">
        <option value="">전체보기</option>
        <option value="title">제목</option>
        <option value="content">내용</option>
      </select>
      <input id="searchKeyword" type="text" th:field="*{keyword}" name="keyword" class="form-control"/>
      <button class="btn btn-outline-primary btn-sm">검색</button>
    </form>
  </div>

  <!-- 검색 및 현재페이지 정보 -->
  <form action="/search" id="pageInfo" method="get">
    <input id="query" type="hidden" name="query" th:value="${searchQuery}">
    <input id="currentPageInfo" type="hidden" th:name="page" th:value="${pageMaker.currentPage}">
    <input type="hidden" th:name="size" th:value="${pageMaker.contentPerPage}">
    <input id="sourceTypeInfo" type="hidden" th:name="sourceType" th:value="${innerSearchCondition.sourceType}">
    <input class="searching" type="hidden" th:name="option" th:value="${innerSearchCondition.option}">
    <input class="searching" type="hidden" th:name="keyword" th:value="${innerSearchCondition.keyword}">
  </form>

  <form id="dcRedirectForm" action="https://gall.dcinside.com/board/view" method="get">
    <input id="dcGallName" type="hidden" name="id" th:value="granblue">
    <input id="dcNum" type="hidden" name="no" value="1">
  </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>